<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoxTap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>That App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>804FAE241BB9E76E000DEA2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>804FAE3C1BB9E76E000DEA2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>804FAE471BB9E76F000DEA2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A7E9F01BB78FA10080F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A7EA0E1BB78FA10080F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A7EA191BB78FA10080F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
